*{
    font-family: sans-serif;
}

.card{
    max-width: 450px;
    padding: 20px;
}

h2{
    color: antiquewhite;
}

h4{
    color: green;
}

body{
    background-image: url(../img/back.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}